<h1>Company's Detail Page</h1>

<ul>
<% @company.offices.each do |office| %>

       <li> <%= office.building.name + " - Floor: " + office.floor.to_s%></li>
        <% end %>
</ul>

<h1> Names of Employees: </h1>

<ul>
    <% @company.employees.pluck(:name).each do |name| %>
       <li> <%= name %> </li><br>
        <%end%>
</ul>
<h2>Add new Employee</h2>
<%= form_for @employee, url: company_employees_path(@company) do |f| %>   
  <%= f.label :name, "Name"%>
  <%= f.text_field :name%>
  <%= f.submit %>
<% end %>

